body {
    background-color: rgb(173, 221, 250);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: large;
    margin: 10%;
}

.basic-format {
    display: block;
    text-align: center;
    border: 1px solid black;
    border-width: 5px;
}